.generator {
  height: 800px;
  display: flex;
  justify-content: space-evenly;
}

.output{
  display: flex;
  flex-direction: column;
}

#output {
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-section {  
  margin: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.generate-button {
  height: fit-content;
}

.checkbox-label {
  font-size: 12px;
}

.character-checkboxes {
  display: flex;
}
